@font-face {
  font-family: 'roboto-thin';
  src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: 'roboto-bold';
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: 'roboto-medium';
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: 'roboto-regular';
  src: url(../fonts/Roboto-Regular.ttf);
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  transition: all 0.5s ease-out;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  background-color: #0e1a35;
  overflow-x: hidden;
}
body {
  background-color: #0e1a35;
  overflow: hidden;
}
section {
  padding: 50px 0;
}
p,
ul,
ol {
  margin-bottom: 0.5em;
}
p a,
h5 a {
  font-weight: bold;
  transition: all 0.5s ease-out;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
#main-nav {
  background-color: transparent;
  padding-top: 20px;
  transition: padding-top 0.2s, padding-bottom 0.3s;
}
#main-nav .navbar-toggler {
  padding: 13px;
  border: 0;
  color: #ffffff;
}
#main-nav .navbar-brand {
  margin-right: 0;
}
#main-nav .navbar-brand img {
  width: 70%;
}
#main-nav .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  padding: 7px 15px !important;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: 'roboto-regular', Georgia, serif;
  border: 3px solid transparent;
}
#main-nav .navbar-nav .nav-item #login-btn {
  padding: 8px 30px !important;
  background-color: #0e1a35;
  color: #5584ff;
  border: 1px solid #5584ff;
  border-radius: 25px;
}
#main-nav .navbar-nav .nav-item #login-btn:hover {
  background-color: #5584ff;
  color: #ffffff !important;
}
#main-nav .navbar-nav .nav-item .nav-link.active,
#main-nav .navbar-nav .nav-item .nav-link:hover {
  background-color: #5584ff;
  color: #ffffff;
  border-radius: 17px;
}
@media (min-width: 300px) {
  #main-nav.navbar-shrink {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #192e5d;
  }
}
